/* Header.css */
.header-appbar {
  background-color: #3f51b5; /* Cor personalizada do AppBar */
}

.header-appbar .MuiButton-root {
  margin-left: 10px; /* Espaçamento entre os botões */
}

.header-appbar .MuiIconButton-root {
  color: white; /* Cor branca para os ícones */
}
