/* Relatorios.css */
.relatorios-container {
  padding: 20px;
}

.relatorio-card {
  padding: 20px;
  text-align: center;
  background-color: #f5f5f5;
}

.relatorio-card h6 {
  font-size: 18px;
}

.relatorio-card canvas {
  max-height: 400px;
}
